.hero{
    height: 100vh;

    background-image: url("../../public/images/cover.jpeg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right top;

    @media (min-width:768px) {
        background-size: cover;
        background-position: center;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: white;
}

.hero__title{
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    font-weight: 600;

    text-align: center;
    text-transform: uppercase;

    line-height: 3rem;

    max-width: 250px;
    @media (min-width: 768px){
        max-width: 50%;

        font-size: 3rem;

        line-height: 4rem;
    }

    @media (min-width: 1240px){
        max-width: 50%;

        font-size: 3rem;

        line-height: 4rem;
    }
}

.hero__subtitle{
    margin-top: 20px;
    max-width: 80%;

    font-size: 1rem;

    text-align: center;

    @media (min-width: 768px){
        max-width: 60%;

        font-size: 1.25rem;

        line-height: 1.5rem;
    }
}

.hero__link{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;

    border-radius: 50%;
    background-color: white;
}

.hero__link:hover{
    animation-name: movement;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes movement {
    0% {transform: translateX(-1px);}
  25%  {transform: translateX(2px);}
  50%  {transform: translateX(-2px);}
  75%  {transform: translateX(2px);}
  100% {transform: translateX(-1px);}
}